snippet djt "Django tag" !b
{% ${1:block} $2 %}
    $0
{% end$1 %}
endsnippet

snippet trans "Django `trans`" !b
{% trans '$1' %}
endsnippet

snippet %% "Django one-liner" !b
{% $1 %}
endsnippet

snippet url "Django url tag" !b
{% url '$1' ${2:var1=val} as ${3:templ_var} %}
endsnippet
