snippet streg "STEINBAUER®"
STEINBAUER®
endsnippet

snippet streghtml "STEINBAUER<sup>®</sup>"
STEINBAUER<sup>®</sup>
endsnippet

snippet streghtmlc "STEINBAUER<sup class=regsymb>®</sup>"
STEINBAUER<sup class=regsymb>®</sup>
endsnippet

snippet uuidregex "Regular expression for UUID"
^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
endsnippet
